h1 {
  color: red;
  font-size: 200px;
}

img:hover {
  background-color: yellow;
}

/*Class Selector*/
.bacon {
  background-color: green;
}

.broccoli {
  background-color: red;
}

.circular {
  border-radius: 100%;
}

/*Id Selector*/
#heading {
  color: blue;
}
